*.cproject
Snake_bsp/.project
*.xml
Snake_bsp/create-this-bsp
Snake_bsp/Makefile
*.mk
Snake_bsp/memory.gdb
*.bsp
Snake_bsp/summary.html
*.project
Snake_C/Makefile
*.a
Snake_bsp/obj/alt_sys_init.d
*.o
*.d
*.objdump
*.elf
*.map